@keyframes bounceSpecial {
    3% {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    7% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }
  
    7% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }
  
    10% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
      transform: translate3d(0, 0, 0) scaleY(0.95);
    }
  
    14% {
      -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
    
    20% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @-webkit-keyframes fadeInSpecial {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.3;
    }
  } 
   @keyframes fadeInSpecial {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 0.3;
    }
  }

  @-webkit-keyframes zeus {
    from {
      opacity: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  } 
   @keyframes zeus {
    from {
      opacity: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }


  @-webkit-keyframes zeus2 {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  } 
   @keyframes zeus2 {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }



  
  @-webkit-keyframes circleblue {
    from { transform: rotate(0deg) translateX(170px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(170px) rotate(-360deg); }
  } 
  @keyframes circleblue {
    from { transform: rotate(0deg) translateX(170px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(170px) rotate(-360deg); }
  } 

  @-webkit-keyframes circlered {
    from { transform: rotate(0deg) translateX(-170px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(-170px) rotate(-360deg); }
  } 
  @keyframes circlered {
    from { transform: rotate(0deg) translateX(-170px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(-170px) rotate(-360deg); }
  } 

  @-webkit-keyframes circlered-2 {
    0% { transform: scale(1); }
    50%   { transform: scale(1.3); }
    100% {transform: scale(1);  }
  } 
  @keyframes circlered-2 {
    0% { transform: scale(1); }
    50%   { transform: scale(1.3); }
    100% {transform: scale(1);  }
  } 

  @-webkit-keyframes circleblue-2 {
    0% { transform: scale(1); }
    50%   { transform: scale(1.3); }
    100% {transform: scale(1);  }
  } 
  @keyframes circleblue-2 {
    0% { transform: scale(1); }
    50%   { transform: scale(1.3); }
    100% {transform: scale(1);  }
  } 