@keyframes bounceSpecial {
  3% {
    opacity: 0;
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  7% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  7% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  10% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  14% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }

  20% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInSpecial {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}
@keyframes fadeInSpecial {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

@-webkit-keyframes zeus {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zeus {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes zeus2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zeus2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes circleblue {
  from {
    transform: rotate(0deg) translateX(170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(170px) rotate(-360deg);
  }
}
@keyframes circleblue {
  from {
    transform: rotate(0deg) translateX(170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(170px) rotate(-360deg);
  }
}

@-webkit-keyframes circlered {
  from {
    transform: rotate(0deg) translateX(-170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-170px) rotate(-360deg);
  }
}
@keyframes circlered {
  from {
    transform: rotate(0deg) translateX(-170px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(-170px) rotate(-360deg);
  }
}

@-webkit-keyframes circlered-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circlered-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes circleblue-2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circleblue-2 {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounceInSpecial {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  4% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  8% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  15% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceInSpecial {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  4% {
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
    transform: scale3d(0.7, 0.7, 0.7);
  }
  8% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  15% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeInUpSpecial {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpSpecial {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);

  }
  5% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 5%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);

  }
  10% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 10%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 100%);

  }
  15% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 15%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 15%, transparent 100%);

  }
  20% {

    mask-image: linear-gradient(to bottom, white 20%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  }
  25% {

    mask-image: linear-gradient(to bottom, white 25%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  }
  30% {

    mask-image: linear-gradient(to bottom, white 30%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  }
  35% {

    mask-image: linear-gradient(to bottom, white 35%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 35%, transparent 100%);
  }
  40% {

    mask-image: linear-gradient(to bottom, white 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  }
  45% {

    mask-image: linear-gradient(to bottom, white 45%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
  }
  50% {

    mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
  55% {

    mask-image: linear-gradient(to bottom, white 55%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
  }
  60% {

    mask-image: linear-gradient(to bottom, white 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
  65% {

    mask-image: linear-gradient(to bottom, white 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
  }
  70% {

    mask-image: linear-gradient(to bottom, white 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }
  75% {

    mask-image: linear-gradient(to bottom, white 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }
  80% {

    mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
  85% {

    mask-image: linear-gradient(to bottom, white 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
  90% {

    mask-image: linear-gradient(to bottom, white 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }
  95% {

    mask-image: linear-gradient(to bottom, white 95%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
  }
  100% {
    opacity: 1;
    display: block;
    mask-image: linear-gradient(to bottom, white 100%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 0%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);

  }
  5% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 5%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);

  }
  10% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 10%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 10%, transparent 100%);

  }
  15% {
    opacity: 0;
    display: none;
    mask-image: linear-gradient(to bottom, white 15%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 15%, transparent 100%);

  }
  20% {

    mask-image: linear-gradient(to bottom, white 20%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
  }
  25% {

    mask-image: linear-gradient(to bottom, white 25%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 25%, transparent 100%);
  }
  30% {

    mask-image: linear-gradient(to bottom, white 30%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
  }
  35% {

    mask-image: linear-gradient(to bottom, white 35%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 35%, transparent 100%);
  }
  40% {

    mask-image: linear-gradient(to bottom, white 40%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  }
  45% {

    mask-image: linear-gradient(to bottom, white 45%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
  }
  50% {

    mask-image: linear-gradient(to bottom, white 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
  55% {

    mask-image: linear-gradient(to bottom, white 55%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 55%, transparent 100%);
  }
  60% {

    mask-image: linear-gradient(to bottom, white 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  }
  65% {

    mask-image: linear-gradient(to bottom, white 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 65%, transparent 100%);
  }
  70% {

    mask-image: linear-gradient(to bottom, white 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }
  75% {

    mask-image: linear-gradient(to bottom, white 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }
  80% {

    mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
  85% {

    mask-image: linear-gradient(to bottom, white 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  }
  90% {

    mask-image: linear-gradient(to bottom, white 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
  }
  95% {

    mask-image: linear-gradient(to bottom, white 95%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
  }
  100% {
    opacity: 1;
    display: block;
    mask-image: linear-gradient(to bottom, white 100%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  }
}

