.header {
    margin-top: 26px;
    .header-inner {
        position: fixed;
        z-index: 30;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transition: 0.5s;
        .header-wrapper {
            padding-top: 26px;
        }
    }
    .header-inner-active {
        background: #02042d;
    }
    .header__top {
        margin-bottom: 145px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__main {
        margin-top: 230px;
        margin-bottom: 350px;
        max-width: 550px;
        position: relative;
        .header__main-wrapper {
            position: relative;
            z-index: 10;
            .header__title {
                margin-bottom: 30px;
                .header__subtitle {
                    font-size: 35px;
                    line-height: 55px;
                    font-weight: 400;
                }
            }
            .header__desc {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 50px;
                max-width: 465px;
            }
            .header__button {
                padding: 12px 47px 13px;
                font-size: 20px;
                line-height: 25px;
                cursor: pointer;
            }
        }
        .header__main-pic-1 {
            position: absolute;
            top: -140px;
            right: -820px;
            width: 847px;
            height: 944px;
            z-index: 3;
        }
        .header__main-pic-2 {
            position: absolute;
            top: 245px;
            left: -350px;
            transform: rotate(-90deg);
            z-index: 2;
        }
        .header__main-pic-3 {
            position: absolute;
            top: -330px;
            right: -820px;
            z-index: 2;
        }
        .header__main-pic-4 {
            position: absolute;
            top: -240px;
            right: -755px;
            opacity: 0.3;
            z-index: 2;
        }
        .header__main-pic-5 {
            position: absolute;
            top: 443px;
            right: -285px;
            opacity: 0.3;
            z-index: 2;
        }
        .header__main-pic-6 {
            position: absolute;
            top: -35px;
            right: -465px;
            z-index: 2;
        }
        .header__main-pic-7 {
            position: absolute;
            top: 610px;
            right: 0;
            z-index: 1;
        }
        .header__main-pic-8 {
            position: absolute;
            top: 125px;
            right: -647px;
            z-index: 2;
            transform: rotate(90deg);
        }
        .header__main-pic-9 {
            position: absolute;
            top: -150px;
            right: -900px;
            z-index: 1;
            width: 1024px;
            height: 1000px;
        }
    }

    .header__button:hover{
        background: linear-gradient(274.92deg, #f09a19 3.73%, #4b19f0 181.96%);
    }
}

.nav {
    .nav__list {
        display: flex;
        color: #fcb35e;
        align-items: center;
        .nav__list-item {
            margin-right: 65px;
            font-size: 15px;
            line-height: 25px;
            padding-bottom: 0;
        }
        .nav__item-link {
            text-decoration: none;
            color: #fcb35e;
        }
        .nav__item-link:hover,
        .nav__item-link:focus,
        .nav__item-link:active {
            color: aqua;
            cursor: pointer;
            transition: 0.5s;
        }
        .nav__list-item:nth-child(4) {
            margin-right: 75px;
        }
        .nav__list-item:last-child {
            margin-right: 0;
        }
        .nav__button {
            padding: 7px 30px 8px;
            font-size: 15px;
            line-height: 25px;
            cursor: pointer;
        }
        .nav__button:hover {
            background: linear-gradient(274.92deg, #f09a19 3.73%, #4b19f0 181.96%);
        }
    }
}

.unique {
    margin-bottom: 175px;
    .unique__title {
        margin-bottom: 53px;
    }
    .unique__cards {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        .unique__card {
            border: #655ce0 1px solid;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 55px;
            position: relative;
            z-index: 2;
            backdrop-filter: blur(2px);
            .unique-abs-pic-1 {
                position: absolute;
                width: 73px;
                height: 73px;
                top:120px;
                left: 180px;
            }
            .unique-abs-pic-2 {
                position: absolute;
                width: 118px;
                height: 106px;
                top:60px;
                left: 110px;
            }
            .unique-abs-pic-3 {
                position: absolute;
                width: 73px;
                height: 73px;
                top:120px;
                left: 120px;
            }
            .unique-abs-pic-4 {
                position: absolute;
                width: 83px;
                height: 73px;
                top:100px;
                left: 155px;
            }
            .unique-abs-pic-5 {
                position: absolute;
                width: 73px;
                height: 73px;
                top:80px;
                left: 170px;
            }
            .unique-abs-pic-6 {
                position: absolute;
                width: 93px;
                height: 100px;
                top:100px;
                left: 110px;
            }
            
            .unique__card-title {
                margin-top: 278px;
                margin-bottom: 30px;
            }
            .unique__card-desc {
                margin-bottom: 72px;
                opacity: 0.7;
                text-align: center;
            }
        }
        .unique__pic-1 {
            position: absolute;
            top: 445px;
            left: -60px;
            z-index: 0;
            transform: rotate(90deg);
        }
        .unique__pic-2 {
            position: absolute;
            top: -50px;
            left: -410px;
            filter: blur(20px);
            width: 746px;
            height: 730px;
        }
    }

    .unique--first {
        border-top-right-radius: 140px;
    }
    .unique--second {
        border-bottom-left-radius: 140px;
    }
    .unique--third {
        border-top-left-radius: 140px;
    }
}

.guide {
    margin-bottom: 97px;
    .guide__outer {
        position: relative;
        display: flex;
        justify-content: space-between;
        .guide__inner {
            max-width: 550px;
            .guide__title {
                margin-bottom: 20px;
            }
            .guide__desc {
                margin-bottom: 50px;
            }
            .guide__button-wrapper {
                display: flex;
                align-items: center;
                .guide__button {
                    padding: 12px 57px 13px 58px;
                    font-size: 20px;
                    line-height: 25px;
                    cursor: pointer;
                }
                .guide__button:hover {
                    background: linear-gradient(274.92deg, #f09a19 3.73%, #4b19f0 181.96%);
                }
                .guide__button-add {
                    font-size: 20px;
                    line-height: 30px;
                    opacity: 0.5;
                    padding-left: 23px;
                }
            }
        }
        .guide__inner-bottom {
            .guide__pic {
                width: 188px;
                height: 381px;
                margin-right: 185px;
                position: relative;
                z-index: 2;
            }
            .guide__inner-bottom-abs {
                position: relative;
                .guide__abs-pic-1 {
                    position: absolute;
                    top: -520px;
                    right: 30px;
                    transform: rotate(-90deg);
                }
                .guide__abs-pic-2 {
                    position: absolute;
                    top: -240px;
                    right: 345px;
                    transform: rotate(-90deg);
                }
                .guide__abs-pic-3 {
                    position: absolute;
                    top: -340px;
                    right: 150px;
                }
                .guide__abs-pic-4 {
                    position: absolute;
                    z-index: 5;
                    top:-205px;
                    left: 70px;
                }
            }
        }
        
        
    }
}

.description {
    margin-bottom: 170px;
    .description__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 335px;
        .description__top-left {
            .description__title {
                margin-bottom: 20px;
            }
            .description__desc-top {
                margin-bottom: 30px;
            }
            .description__desc-top,
            .description__desc-bottom {
                max-width: 570px;
                line-height: 35px;
            }
        }
        .description__top-right {
            position: relative;
            .description__top-pic {
                width: 628px;
                height: 394px;
                position: absolute;
                top: 120px;
                right: -50px;
                z-index: 3;
            }
            .description__top-abs-pic-1 {
                position: absolute;
                top: 140px;
                right: 371px;
                z-index: 2;
                transform: rotate(180deg);
                transform: scale(-1, 1);
            }
            .description__top-abs-pic-2 {
                position: absolute;
                top: 70px;
                right: 340px;
                z-index: 1;
                transform: rotate(90deg);
                width: 254px;
                height: 254px;
                opacity: 0.7;
            }
        }
    }
    .description__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 86px;
        .description__bottom-left {
            position: relative;
            .description__bottom-pic {
                width: 493px;
                height: 830px;
                position: absolute;
                top: -270px;
                left: -40px;
                z-index: 4;
            }
            .description__bottom-abs-pic-1 {
                position: absolute;
                top: -300px;
                left: 180px;
                z-index: 1;
            }
            .description__bottom-abs-pic-2 {
                position: absolute;
                top: -280px;
                left: -30px;
                z-index: 1;
            }
            .description__bottom-abs-pic-3 {
                position: absolute;
                top: -44px;
                left: -400px;
                z-index: 2;
                width: 1984px;
                height: 881px;
            }
            .description__bottom-abs-pic-4 {
                position: absolute;
                top: 665px;
                left: -60px;
                z-index: 1;
            }
        }
        .description__bottom-right {
            position: relative;
            z-index: 2;
            .description__desc-top {
                margin-bottom: 30px;
            }
            .description__desc-top,
            .description__desc-bottom {
                max-width: 570px;
                line-height: 35px;
            }
        }
    }
    .description__blockquote-container {
        border: #655ce0 1px solid;
        padding: 52px 163px 50px;
        border-bottom-right-radius: 140px;
        backdrop-filter: blur(2px);
        background: transparent;
        margin-bottom: 170px;
        position: relative;
        z-index: 5;
        .description__blockquote {
            font-size: 25px;
            line-height: 40px;
            width: 844px;
        }
        .description__author {
            font-style: italic;
            font-size: 20px;
            line-height: 40px;
            font-weight: 100;
            text-align: right;
            display: block;
        }
        .description__blockquote-pic {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

.map {
    margin-bottom: 160px;
    .map__title {
        margin-bottom: 50px;
    }
    .map__inner {
        position: relative;
        .map__top {
            margin-bottom: 21px;
            display: flex;
            justify-content: space-between;
            .map__top-left {
                .map__top-subtitle {
                    padding-top: 56px;
                    margin-bottom: 10px;
                    position: relative;
                }
                .map__top-subtitle::before {
                    content: "";
                    background-image: url(../assets/images/vector/number-1.svg);
                    height: 40px;
                    width: 40px;
                    top: 0;
                    left: 200px;
                    position: absolute;
                }
                .map__subtitle-note {
                    margin-bottom: 32px;
                    font-size: 20px;
                    line-height: 35px;
                    opacity: 0.5;
                    font-weight: 100;
                }
                .map__top-list-item {
                    margin-bottom: 2px;
                    font-size: 20px;
                    line-height: 40px;
                    padding-left: 20px;
                    position: relative;
                    opacity: 0.8;
                }
                .map__top-list-item:last-child {
                    margin-bottom: 0;
                }
                .map__top-list-item::before {
                    content: "";
                    background-image: url(../assets/images/vector/list-dot.svg);
                    height: 10px;
                    width: 10px;
                    top: 15px;
                    left: 0;
                    position: absolute;
                }
            }
            .map__top-right {
                position: relative;
                .map__top-pic {
                    padding-right: 33px;
                    padding-top: 80px;
                }
                .map__top-abs-pic-1 {
                    position: absolute;
                    top: -100px;
                    left: -150px;
                    z-index: -2;
                    opacity: 0.7;
                }
                .map__top-abs-pic-2 {
                    position: absolute;
                    top: 310px;
                    left: 260px;
                    z-index: -1;
                    transform: rotate(90deg);
                    width: 120px;
                    height: 347px;
                }
                .map__top-abs-pic-3 {
                    position: absolute;
                    top: 120px;
                    left: -10px;
                    z-index: -3;
                    width: 532px;
                    height: 521px;
                }
            }
        }
        .map__bottom {
            display: flex;
            justify-content: space-between;
            .map__bottom-left {
                position: relative;
                .map__bottom-pic {
                    padding-top: 162px;
                }
                .map__bottom-abs-pic-1 {
                    position: absolute;
                    top: 170px;
                    left: 35px;
                    z-index: 2;
                }
                .map__bottom-abs-pic-2 {
                    position: absolute;
                    top: 360px;
                    left: -70px;
                    z-index: -1;
                    width: 120px;
                    height: 347px;
                }
                .map__bottom-abs-pic-3 {
                    position: absolute;
                    top: 100px;
                    left: -220px;
                    z-index: -3;
                    width: 682px;
                    height: 682px;
                }
                .map__bottom-abs-pic-4 {
                    position: absolute;
                    top: 500px;
                    left: 100px;
                    z-index: -2;
                }
            }
            .map__bottom-right {
                .map__bottom-wrapper {
                    max-width: 570px;
                    margin-bottom: 60px;
                    padding-top: 55px;
                    .map__bottom-subtitle {
                        margin-bottom: 10px;
                    }
                    .map__bottom-note {
                        font-size: 20px;
                        line-height: 35px;
                        opacity: 0.5;
                        font-weight: 100;
                    }
                    .map__bottom-list {
                        .map__bottom-list-item {
                            position: relative;
                            font-size: 20px;
                            line-height: 40px;
                            padding-left: 20px;
                            opacity: 0.8;
                        }
                        .map__bottom-list-item:first-child {
                            margin-bottom: 5px;
                        }
                        .map__bottom-list-item::before {
                            content: "";
                            background-image: url(../assets/images/vector/list-dot.svg);
                            height: 10px;
                            width: 10px;
                            top: 15px;
                            left: 0;
                            position: absolute;
                        }
                    }
                }
                .map__bottom-wrapper:last-child {
                    margin-bottom: 0;
                }
                .map__bottom-wrapper:first-child {
                    padding-top: 0;
                }
                .number-2 {
                    position: relative;
                }
                .number-2::before {
                    content: "";
                    background-image: url(../assets/images/vector/number-2.svg);
                    height: 40px;
                    width: 40px;
                    top: -55px;
                    left: 160px;
                    position: absolute;
                }
                .number-3 {
                    position: relative;
                }
                .number-3::before {
                    content: "";
                    background-image: url(../assets/images/vector/number-3.svg);
                    height: 40px;
                    width: 40px;
                    top: 0;
                    left: 160px;
                    position: absolute;
                }
                .number-4 {
                    position: relative;
                }
                .number-4::before {
                    content: "";
                    background-image: url(../assets/images/vector/number-4.svg);
                    height: 40px;
                    width: 40px;
                    top: 0;
                    left: 160px;
                    position: absolute;
                }
                .number-5 {
                    position: relative;
                }
                .number-5::before {
                    content: "";
                    background-image: url(../assets/images/vector/number-5.svg);
                    height: 40px;
                    width: 40px;
                    top: 0;
                    left: 160px;
                    position: absolute;
                }
            }
        }
    }
    .map__line-1-pic {
        position: absolute;
        top: -10px;
        left: -50px;
        z-index: -1;
        transform: rotate(87deg);
    }
    .map__line-2-pic {
        position: absolute;
        top: 5px;
        left: -35px;
        z-index: -1;
        transform: rotate(90deg);
    }
}

.package {
    margin-bottom: 140px;
    position: relative;
    .package__title {
        margin-bottom: 40px;
    }
    .package__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        position: relative;
        .package__card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .package__wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                .package__bonus,
                .package--opacity {
                    opacity: 0.7;
                }
                .package__bonus {
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                .package--second-wrapper {
                    margin-top: 30px;
                }
            }
            .package__title-inner {
                margin-top: 50px;
                margin-bottom: 10px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
            }
            .package__subtitle {
                max-width: 101px;
                font-weight: 700;
                text-align: center;
                margin-bottom: 20px;

                .package__subtitle-month {
                    opacity: 0.7;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 400;
                }
            }
            .package__list {
                .package__list-item {
                    font-size: 15px;
                    line-height: 25px;
                    margin-bottom: 15px;
                    padding-left: 20px;
                    position: relative;
                    margin-left: 20px;
                }
                .package__list-item:last-child {
                    margin-bottom: 0;
                }
                .package__list-item::before {
                    content: "";
                    background-image: url(../assets/images/vector/list-dot.svg);
                    height: 10px;
                    width: 10px;
                    top: 7px;
                    left: 0;
                    position: absolute;
                }
            }
            .package__first-card-pic {
                width: 240px;
                height: 256px;
                margin-top: 50px;
                margin-bottom: 71px;
            }
            .package__second-card-pic {
                position: absolute;
                top: 650px;
            }
            .package__price {
                font-weight: 800;
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 20px;
            }
            .package__button {
                padding: 12px 49px 13px 50px;
                cursor: pointer;
                width: 210px;
                margin-bottom: 50px;
            }
        }
        .package--first {
            border-top-right-radius: 140px;
        }
        .package--second {
            border-bottom-left-radius: 140px;
            position: relative;
        }
        .package--third {
            border-top-left-radius: 140px;
        }
        .package__price {
            text-align: center;
        }
        
    }
    .package__abs-pic {
        position: absolute;
        top: 450px;
        left: 400px;
        z-index: -1;
        width: 682px;
        height: 682px;
    }
    .package__card:hover {
        background: linear-gradient(274.13deg, #4B19F0 -18.41%, #F09A19 188.92%);
        transition: .2s;
        cursor: pointer;
        .package__button {
            background:  #02042d;
            transition: .2s;
        }
        .package__list-item::after {
            content: "";
            background-image: none;
            background: #fff;
            height: 10px;
            width: 10px;
            top: 7px;
            left: 0;
            position: absolute;
            z-index: 2;
            border-radius: 50px;
        }
    }
    
}
