.header {
    position: fixed;
    z-index: 555;
    top: 0;
    width: 100vw;
    padding-top: 25px;
    padding-bottom: 25px;
    transition-property: background-color;
    transition: 0.5s ease-out;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--active {
        background-color: #02042d;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        &-item {
            margin-right: 65px;
            font-size: 15px;
            line-height: 25px;
            padding-bottom: 0;
            &:nth-child(4) {
                margin-right: 75px;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__item-link {
        text-decoration: none;
        display: inline-block;
        padding: 5px 0px;
        color: #fcb35e;
        transition: 1s ease;
        transition-property: color;
        &:hover {
            color: aqua;
        }
    }
    &__button {
        padding: 7px 30px 8px;
        font-size: 15px;
        line-height: 25px;
        cursor: pointer;
        &:hover {
            background-position: right;
        }
        transition: 0.5s background-position ease-in-out;
        &-wrapper {
            position: relative;
            top: 1px;
        }
    }
}

.burger-menu {
    width: 40px;
    height: 28px;
    position: relative;
    top: 3px;
    left: -23px;
    display: none;
}
.burger-item {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color:rgba(255, 255, 255, 0.5);
    &:nth-child(1){
        top:0;
    }
    &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    &:nth-child(3){
        bottom:0;
    }
}

.hero {
    margin-bottom: 350px;
    margin-top: 250px;

    &__image-box {
        position: relative;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__subtitle {
        font-size: 35px;
        line-height: 55px;
        font-weight: 400;
    }
    &__desc {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 45px;
        max-width: 465px;
    }
    &__button {
        padding: 12px 47px 12px 47px;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        transition: 0.5s background-position ease-in-out;
        position: relative;
        z-index: 10;
        cursor: pointer;
        &:hover {
            background-position: right;
        }
       
    }

    &__main {
        max-width: 550px;
        position: relative;

        &-pic-1 {
            position: absolute;
            top: -140px;
            right: -820px;
            max-width: 847px;
            z-index: -1;
            -webkit-animation-name: zeus;
            animation-name: zeus;
            animation-duration: 3s;
            -webkit-animation-duration: 3s;
        }
        &-pic-2 {
            position: absolute;
            top: 245px;
            left: -350px;
            z-index: -2;
            -webkit-animation-name: zeus2;
            animation-name: zeus2;
            animation-duration: 3s;
            -webkit-animation-duration: 3s;
        }
        &-pic-3 {
            position: absolute;
            top: -330px;
            right: -820px;
            z-index: -2;
            -webkit-animation-name: zeus;
            animation-name: zeus;
            animation-duration: 3s;
            -webkit-animation-duration: 3s;
        }
        &-pic-4 {
            position: absolute;
            top: -250px;
            right: -755px;
            z-index: -2;
            opacity: 0.3;
            -webkit-animation-duration: 7s;
            animation-duration: 7s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeInSpecial;
            animation-name: fadeInSpecial;
        }
        &-pic-5 {
            position: absolute;
            top: 443px;
            right: -285px;
            opacity: 0.3;
            z-index: -2;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeInSpecial;
            animation-name: fadeInSpecial;
        }
        &-pic-6 {
            position: absolute;
            top: -35px;
            right: -465px;
            z-index: -2;
        }
        &-pic-7 {
            position: absolute;
            top: 610px;
            right: 0;
            z-index: -3;
        }
        &-pic-8 {
            position: absolute;
            top: 125px;
            right: -647px;
            z-index: -2;
            transform: rotate(90deg);
        }
        &-pic-9 {
            position: absolute;
            top: -150px;
            right: -900px;
            z-index: -4;
            max-width: 1024px;
            height: 1000px;
            // animation: circlered-2 8s linear infinite;
        }
    }
    .hero__button-wrapper {
        -webkit-animation-name: bounceInSpecial;
        animation-name: bounceInSpecial;
        display: inline-block;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 8s;
        -webkit-animation-iteration-count: infinite;
        animation-delay: 1s;
        position: relative;
        top: 2px;
    }
}

.unique {
    margin-bottom: 175px;
    &__title {
        margin-bottom: 53px;
    }
    &__cards {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    &__card {
        border: #655ce0 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        &-pic-wrapper {
            position: absolute;
        }
        &-title {
            margin-top: 278px;
            margin-bottom: 30px;
        }
        &-desc {
            margin-bottom: 72px;
            color: rgba(255, 255, 255, 0.7);
            text-align: center;
            max-width: 290px;
        }
    }
    &-abs-pic-1 {
        position: absolute;
        max-width: 73px;
        height: 73px;
        top: 120px;
        left: 0px;
    }
    &-abs-pic-2 {
        position: absolute;
        max-width: 118px;
        height: 106px;
        top: 60px;
        left: -50px;
    }
    &-abs-pic-3 {
        position: absolute;
        max-width: 73px;
        height: 73px;
        top: 120px;
        left: -60px;
    }
    &-abs-pic-4 {
        position: absolute;
        max-width: 83px;
        height: 73px;
        top: 100px;
        left: -25px;
    }
    &-abs-pic-5 {
        position: absolute;
        max-width: 73px;
        height: 73px;
        top: 80px;
        left: -10px;
    }
    &-abs-pic-6 {
        position: absolute;
        max-width: 93px;
        height: 100px;
        top: 100px;
        left: -70px;
    }
    &__pic-1 {
        position: absolute;
        top: 515px;
        left: -145px;
        z-index: -1;
    }
    .unique__pic-2 {
        z-index: -2;
        position: absolute;
        top: -50px;
        left: -410px;
        filter: blur(20px);
        max-width: 746px;
        height: 730px;
        animation: circleblue-2 8s linear infinite;
    }

    &--first {
        border-top-right-radius: 140px;
    }
    &--second {
        border-bottom-left-radius: 140px;
    }
    &--third {
        border-top-left-radius: 140px;
    }
}

.guide {
    margin-bottom: 97px;
    &__button {
        padding: 12px 57px 13px 58px;
        font-size: 20px;
        line-height: 25px;
        cursor: pointer;
        transition-property: background-position;
        transition: 0.5s ease;
        &-wrapper-inner {
            position: relative;
            top: 2px;
        }
        &:hover {
            background-position: right;
        }
        &-add {
            font-size: 20px;
            line-height: 30px;
            padding-left: 23px;
            color: rgba(255, 255, 255, 0.5);
        }
        &-wrapper {
            display: flex;
            align-items: center;
        }
    }
    &__outer {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__pic {
        max-width: 188px;
        height: 381px;
        position: relative;
        z-index: 2;
    }
    &__inner-bottom-abs {
        position: relative;
    }
    &__abs-pic-1 {
        position: absolute;
        top: -520px;
        right: 30px;
    }
    &__abs-pic-2 {
        position: absolute;
        top: -150px;
        right: 255px;
        z-index: 1;
    }
    &__abs-pic-3 {
        position: absolute;
        top: -340px;
        right: 150px;
    }
    &__abs-pic-4 {
        position: absolute;
        z-index: 5;
        top: -205px;
        left: 70px;
        animation-delay: 2s;
        animation: bounceSpecial 8s infinite ease-in-out;
    }
    &__desc {
        margin-bottom: 50px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__inner {
        max-width: 550px;
        &-bottom {
            margin-right: 185px;
        }
    }
}

.description {
    margin-bottom: 170px;
    &__title {
        margin-bottom: 20px;
    }
    &__desc-top {
        margin-bottom: 30px;
    }
    &__desc-top,
    &__desc-bottom {
        max-width: 570px;
        line-height: 35px;
    }
    &__top {
        &-pic {
            max-width: 628px;
            height: 394px;
            position: absolute;
            top: 120px;
            right: -50px;
            z-index: 3;
        }
        &-abs-pic-1 {
            position: absolute;
            top: 140px;
            right: 371px;
            z-index: 2;
            transform: rotate(180deg);
            transform: scale(-1, 1);
        }
        &-abs-pic-2 {
            position: absolute;
            top: 70px;
            right: 340px;
            z-index: 1;
            max-width: 254px;
            height: 254px;
            opacity: 0.7;
        }
        display: flex;
        justify-content: space-between;
        margin-bottom: 335px;

        &-right {
            position: relative;
        }
    }
    &__desc-top {
        margin-bottom: 30px;
    }
    &__desc-top,
    &-bottom {
        max-width: 570px;
        line-height: 35px;
    }
    &__bottom {
        &-right {
            position: relative;
            z-index: 2;
        }
        display: flex;
        justify-content: space-between;
        margin-bottom: 86px;
        &-pic {
            max-width: 493px;
            height: 830px;
            position: absolute;
            top: -270px;
            left: -40px;
            z-index: -1;
        }
        &-abs-pic-1 {
            position: absolute;
            top: -300px;
            left: 180px;
            z-index: -2;
            animation: circleblue 10s linear infinite;
        }
        &-abs-pic-2 {
            position: absolute;
            top: -280px;
            left: -30px;
            z-index: -3;
            // animation: circlered 10s linear infinite;
        }
        &-abs-pic-3 {
            position: absolute;
            top: -44px;
            left: -130px;
            z-index: -2;
        }
        &-abs-pic-4 {
            position: absolute;
            top: 665px;
            left: -60px;
            z-index: -3;
        }
        &-left {
            position: relative;
        }
    }
    &__blockquote-container {
        border: #655ce0 1px solid;
        padding: 52px 163px 50px;
        border-bottom-right-radius: 140px;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        background: transparent;
        margin-bottom: 170px;
        position: relative;
        z-index: 5;
    }
    &__blockquote-pic {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__blockquote {
        font-size: 25px;
        line-height: 40px;
        max-width: 844px;
    }
    &__author {
        font-style: italic;
        font-size: 20px;
        line-height: 40px;
        font-weight: 100;
        text-align: right;
        display: block;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.map {
    margin-bottom: 160px;
    &__subtitle-note {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 35px;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 100;
    }
    &__title {
        margin-bottom: 50px;
    }
    &__top {
        &-right {
            position: relative;
        }
        &-pic {
            padding-right: 33px;
            padding-top: 80px;
        }
        &-abs-pic-1 {
            position: absolute;
            top: -100px;
            left: -150px;
            z-index: -2;
            color: rgba(255, 255, 255, 0.7);
        }
        &-abs-pic-2 {
            position: absolute;
            top: 310px;
            left: 260px;
            z-index: -1;
            transform: rotate(90deg);
            max-width: 120px;
            height: 347px;
        }
        &-abs-pic-3 {
            position: absolute;
            top: 120px;
            left: -10px;
            z-index: -3;
            max-width: 532px;
            height: 521px;
        }
        margin-bottom: 21px;
        display: flex;
        justify-content: space-between;
        &-list-item {
            margin-bottom: 2px;
            font-size: 20px;
            line-height: 40px;
            padding-left: 20px;
            position: relative;
            opacity: 0.8;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: "";
                background-image: url(../assets/images/vector/list-dot.svg);
                height: 10px;
                width: 10px;
                top: 15px;
                left: 0;
                position: absolute;
            }
        }
        &-subtitle {
            padding-top: 56px;
            margin-bottom: 10px;
            position: relative;
            
            &::before {
                content: "";
                background-image: url(../assets/images/vector/number-1.svg);
                height: 40px;
                width: 40px;
                top: 0;
                left: 200px;
                position: absolute;
            }
        }
        &-left {
        }
    }
    &__bottom {
        &-right {
        }
        &-subtitle {
            margin-bottom: 10px;
        }
        &-note {
            font-size: 20px;
            line-height: 35px;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 100;
        }
        &-list {
            &-item {
                position: relative;
                font-size: 20px;
                line-height: 40px;
                padding-left: 20px;
                opacity: 0.8;
                &:first-child {
                    margin-bottom: 5px;
                }
                &::before {
                    content: "";
                    background-image: url(../assets/images/vector/list-dot.svg);
                    height: 10px;
                    width: 10px;
                    top: 15px;
                    left: 0;
                    position: absolute;
                }
            }
        }
        display: flex;
        justify-content: space-between;
        &-pic {
            padding-top: 162px;
        }
        &-abs-pic-1 {
            position: absolute;
            top: 170px;
            left: 35px;
            z-index: 2;
        }
        &-abs-pic-2 {
            position: absolute;
            top: 360px;
            left: -70px;
            z-index: -1;
            max-width: 120px;
            height: 347px;
        }
        &-abs-pic-3 {
            position: absolute;
            top: 100px;
            left: -220px;
            z-index: -3;
            max-width: 682px;
            height: 682px;
        }
        &-abs-pic-4 {
            position: absolute;
            top: 500px;
            left: 100px;
            z-index: -2;
        }
        &-left {
            position: relative;
        }
    }
    &__bottom-wrapper {
        max-width: 570px;
        margin-bottom: 60px;
        padding-top: 55px;
        &:last-child {
            margin-bottom: 0;
        }
        &:first-child {
            padding-top: 0;
        }
    }

    .number-2 {
        position: relative;
        &::before {
            content: "";
            background-image: url(../assets/images/vector/number-2.svg);
            height: 40px;
            width: 40px;
            top: -55px;
            left: 160px;
            position: absolute;
        }
    }

    .number-3 {
        position: relative;
        &::before {
            content: "";
            background-image: url(../assets/images/vector/number-3.svg);
            height: 40px;
            width: 40px;
            top: 0;
            left: 160px;
            position: absolute;
        }
    }

    .number-4 {
        position: relative;
        &::before {
            content: "";
            background-image: url(../assets/images/vector/number-4.svg);
            height: 40px;
            width: 40px;
            top: 0;
            left: 160px;
            position: absolute;
        }
    }

    .number-5 {
        position: relative;
        &::before {
            content: "";
            background-image: url(../assets/images/vector/number-5.svg);
            height: 40px;
            width: 40px;
            top: 0;
            left: 160px;
            position: absolute;
        }
    }

    &__inner {
        position: relative;
    }
    &__line-1-pic {
        position: absolute;
        top: -10px;
        left: -50px;
        z-index: -1;
        transform: rotate(87deg);
    }
    &__line-2-pic {
        position: absolute;
        top: 5px;
        left: -35px;
        z-index: -1;
        transform: rotate(90deg);
    }
}

.package {
    margin-bottom: 140px;
    position: relative;
    &__title {
        margin-bottom: 40px;
        &-inner {
            margin-top: 50px;
            margin-bottom: 10px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 40px;
            line-height: 40px;
        }
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        &:hover {
            background: linear-gradient(274.13deg, #4b19f0 -18.41%, #f09a19 188.92%);
            cursor: pointer;
            .package__button {
                background: #02042d;
            }
            .package__list-item::after {
                content: "";
                background-image: none;
                background: #fff;
                height: 10px;
                width: 10px;
                top: 7px;
                left: 0;
                position: absolute;
                z-index: 2;
                border-radius: 50px;
            }
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        &__bonus,
        &--opacity {
            opacity: 0.7;
        }
        &__bonus {
            margin-top: 30px;
            margin-bottom: 15px;
        }
        &--second-wrapper {
            margin-top: 30px;
        }
    }
    &__list {
        &-item {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 15px;
            padding-left: 20px;
            position: relative;
            margin-left: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: "";
                background-image: url(../assets/images/vector/list-dot.svg);
                height: 10px;
                width: 10px;
                top: 7px;
                left: 0;
                position: absolute;
            }
        }
        
    }
    &__first-card-pic {
        max-width: 240px;
        height: 256px;
        margin-top: 50px;
        margin-bottom: 71px;
    }
    &__second-card-pic {
        position: absolute;
        top: 650px;
        max-width: 370px;
        height: 237px;
    }
    &__price {
        font-weight: 800;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    &__button {
        padding: 12px 49px 13px 50px;
        cursor: pointer;
        max-width: 210px;
        margin-bottom: 50px;
        &-wrapper {
            position: relative;
            top: 2px;
        }
    }
    &__subtitle {
        max-width: 101px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;

        &-month {
            color: rgba(255, 255, 255, 0.7);
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
        }
    }
    &--first {
        border-top-right-radius: 140px;
    }
    &--second {
        border-bottom-left-radius: 140px;
        position: relative;
    }
    &--third {
        border-top-left-radius: 140px;
    }
    &__price {
        text-align: center;
    }
    .package__abs-pic {
        position: absolute;
        top: 450px;
        left: 400px;
        z-index: -1;
        max-width: 682px;
        height: 682px;
        // animation: circlered-2 10s linear infinite;
    }
   
}

.feedback {
    margin-bottom: 100px;
    &_title {
        margin-bottom: 20px;
    }
    &__subtitle {
        margin-bottom: 52px;
        color: rgba(255, 255, 255, 0.7);
    }
    margin-bottom: 140px;
    &__wrapper-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__arrow-left {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 20px;
        position: relative;
        z-index: 100;
        cursor: pointer;
        &[disabled] {
            opacity: .4;
        }
        svg {
            position: absolute;
            top: 16px;
            left: 18px;
        }
    }
    &__arrow-right {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-right: 200px;
        cursor: pointer;
        position: relative;
        z-index: 100;
        &[disabled] {
            opacity: .4;
        }
        svg {
            position: absolute;
            top: 16px;
            left: 21px;
        }
    }
    &__wrapper-bottom {
        padding-top: 15px;
    }
}
.slider__wrapper {
    max-width: 770px;
    margin: 0 auto;
    position: relative;
}
.slider {
    overflow:hidden;
    position: relative;
    &__line{
        display: flex;
        transition: .7s ease;
        &-item {
            display: flex;
            justify-content: space-between;
            min-width: 770px;
            height: 264px;
            // border: double 1px #655ce0;
            border-bottom-right-radius: 140px;
            padding: 38px 52px 43px 40px;
            backdrop-filter: blur(2px);
        }
    }
    &__comment {
        max-width: 418px;
        max-height: 140px;
        font-style: normal;
        font-weight: 200;
        font-size: 20px;
        line-height: 35px;
        color: rgba(255, 255, 255, 0.5);
    }
    &__position {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.7);
    }
    &__item-right {
        position: relative;
        top: 35px;

    }
    &__name {
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 40px;
        
    }
    &__pic {
        max-width: 100px;
        margin-bottom: 12px;
        position: relative;
        z-index: 2;
        opacity: .8;
    }
    .comment__pic {
        position: absolute;
        top: -5px;
        left: -23px;
    }
    &__abs-pic {
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        animation: circlered-2 8s linear infinite;
        -webkit-animation: circlered-2 8s linear infinite;
    }
}

.join {
    margin-bottom: 140px;

    &__wrapper {
        position: relative;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__subtitle {
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 50px;
        font-weight: 100;
    }
    &__button {
        padding: 12px 49px 13px 50px;
        cursor: pointer;
        transition: 0.5s background-position ease-in-out;
        &-wrapper {
            position: relative;
            top: 2px;
        }
        &:hover {
            background-position: right;
        }
    }

    &__abs-pic-1 {
        position: absolute;
        top: -10px;
        left: 700px;
        max-width: 398px;
        height: 326px;
        z-index: -2;
    }
    &__abs-pic-2 {
        position: absolute;
        top: 182px;
        left: 929px;
        z-index: -1;
    }
    &__abs-pic-3 {
        position: absolute;
        top: -450px;
        left: -260px;
        z-index: -3;
    }
    .join__abs-pic-4 {
        position: absolute;
        top: -108px;
        left: 700px;
        max-width: 350px;
        height: 343px;
        z-index: -4;
        // animation: circlered-2 8s linear infinite;
        // -webkit-animation: circlered-2 8s linear infinite;
    }
}
.faq {
    margin-bottom: 75px;
    &__title {
        margin-bottom: 40px;
    }
    &__accordion {
        position: relative;
    }
    &__abs-pic-1 {
        position: absolute;
        top: 100px;
        left: -300px;
        height: 734px;
        max-width: 322px;
        z-index: -2;
    }
    &__abs-pic-2 {
        position: absolute;
        z-index: -4;
        top: -130px;
        left: -400px;
        max-width: 487px;
        height: 477px;
        animation: circlered-2 8s linear infinite;
        -webkit-animation: circlered-2 8s linear infinite;
    }
    &__abs-pic-3 {
        position: absolute;
        top: 0px;
        left: -140px;
        z-index: -3;
    }
    &__abs-pic-4 {
        position: absolute;
        top: 400px;
        left: 850px;
        max-width: 190px;
        height: 334px;
        z-index: -1;
    }
    &__abs-pic-5 {
        position: absolute;
        top: 200px;
        left: 700px;
        z-index: -4;
        max-width: 562px;
        height: 550px;
        animation: circlered-2 8s linear infinite;
        -webkit-animation: circlered-2 8s linear infinite;
    }
    &__abs-pic-6 {
        position: absolute;
        top: 320px;
        left: 930px;
    }
}

.accordion {
    &__item {
        border-bottom-right-radius: 140px;
        transition: 0.3s linear;
        transition-property: border;
        border: transparent 1px solid;

        position: relative;
        z-index: 6;
        &-title {
            margin-top: 25px;
            margin-bottom: 10px;
            padding-left: 74px;
            position: relative;
            cursor: pointer;
            &--plus {
                background-image: url("../assets/images/vector/plus.svg");
                display: block;
                position: absolute;
                width: 17px;
                height: 17px;
                top: 4px;
                left: 35px;
            }
            &--minus {
            }
        }
        .collapse {
            display: none;
        }
        .show {
            background-image: url("../assets/images/vector/minus.svg");
            display: block;
            position: absolute;
            width: 17px;
            height: 4px;
            top: 10px;
            left: 35px;
        }
        &-content {
            margin: 0 91px 43px 74px;
            color: rgba(255, 255, 255, 0.5);
            font-size: 20px;
            line-height: 35px;
            display: none;
        }
        &-content--show {
            animation: appear 1s ease-in-out;
            display: block;
        }
        &--active {
            border: #655ce0 1px solid;
        }
    }
}

.footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        position: relative;
    }
    &__copyright {
        text-align: right;
        margin-bottom: 50px;
        font-size: 15px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 100;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__social {
        display: flex;
        align-items: top;
        &-link {
            height: 30px;
        }
        &-link:not(:last-of-type) {
            margin-right: 48px;
        }
    }
    &__abs-pic {
        position: absolute;
        top: -10px;
        left: -135px;
        z-index: -1;
    }
}

.popup {
    background-color: #06052e;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
    border: #655ce0 1px solid;
    width: 490px;
    border-bottom-left-radius: 140px;

    &__title {
        margin-bottom: 30px;
        font-size: 35px;
        line-height: 55px;
        color: rgba(255, 255, 255, 1);
    }

    input {
        border: double 1px transparent;
        background-origin: border-box;
        background-clip: padding-box, border-box;
        padding: 20px 30px 20px 23px;
        margin-bottom: 40px;
        color: rgba(255, 255, 255, 0.7);
        outline: 0;
        font-size: 20px;
        width: 370px;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        &:focus::placeholder {
            color: transparent;
        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        &:last-child {
            margin-bottom: 50px;
        }
        &:active,
        &:focus {
            outline: none;
        }
    }

    &__name {
        border-top-right-radius: 140px;
        background-image: linear-gradient(#06052e, #06052e), linear-gradient(360deg, #5750c6, #26236a);
    }
    &__mail {
        border-bottom-right-radius: 140px;
        background-image: linear-gradient(#06052e, #06052e), linear-gradient(180deg, #5750c6, #26236a);
    }
    &__number {
        border-top-right-radius: 140px;
        background-image: linear-gradient(#06052e, #06052e), linear-gradient(360deg, #5750c6, #26236a);
    }
    &__button-container {
        text-align: center;
    }
    &__button {
        padding: 12px 57px 13px 58px;
        cursor: pointer;
        transition: 0.5s background-position ease-in-out;
        &:hover {
            background-position: right;
        }
        transition: 0.5s background-position ease-in-out;
        &-wrapper {
            position: relative;
            top: 2px;
        }
    }

    &__pic-1 {
        position: absolute;
        top: 110px;
        left: 10px;
    }

    &__pic-2 {
        position: absolute;
        top: 354px;
        left: 362px;
    }

    &__wrapper {
        display: none;
    }
}

.fancybox__content > .carousel__button.is-close {
    position: absolute;
    top: 8px;
    right: 9px;
    color: #444362;
}

.fancybox__carousel.is-draggable .fancybox__slide,
.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: default;
    outline: 0;
}



