@media (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }
}

@media (max-width: 991px) {
    br + br {
        display: none;
    }

    .description__blockquote-container {
        padding: 32px 23px 20px;
    }

    h4 {
        font-size: 24px;
    }
    h2 {
        font-size: 40px;
    }
    .unique__card-title {
        margin-top: 200px;
        margin-bottom: 15px;
    }
    .feedback__arrow-right {
        margin-right: 50px;
    }
    .description__author {
        padding-right: 45px;
    }
    .unique__card-desc {
        margin-bottom: 32px;
        font-size: 15px;
    }

    .faq__abs-pic-1 {
        display: none;
    }
    .unique-abs-pic-1 {
        position: absolute;
        max-width: 73px;
        height: 73px;
        top: 90px;
        left: 0px;
    }
    .unique-abs-pic-2 {
        position: absolute;
        max-width: 118px;
        height: 106px;
        top: 30px;
        left: -50px;
    }
    .unique-abs-pic-3 {
        position: absolute;
        max-width: 73px;
        height: 73px;
        top: 90px;
        left: -60px;
    }
    .unique-abs-pic-4 {
        position: absolute;
        max-width: 83px;
        height: 73px;
        top: 70px;
        left: -25px;
    }
    .unique-abs-pic-5 {
        position: absolute;
        max-width: 73px;
        height: 73px;
        top: 50px;
        left: -10px;
    }
    .unique-abs-pic-6 {
        position: absolute;
        max-width: 93px;
        height: 100px;
        top: 70px;
        left: -70px;
    }
    .hero {
        margin-bottom: 100px;
        margin-top: 140px;
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .join__abs-pic-1 {
        top: 10px;
        left: 350px;
    }
    .join__abs-pic-2 {
        left: 479px;
    }
    .join__abs-pic-4 {
        display: none;
    }
    .hero__main-pic-9 {
        top: -80px;
        right: -900px;
        max-width: 724px;
        height: 500px;
    }
    .nav__button-wrapper {
        font-size: 13px;
    }
    .hero__button-wrapper {
        font-size: 20px;
    }

    .container {
        padding: 0 30px;
    }

    .hero__main-pic-1 {
        overflow: hidden;
        width: 370px;
        top: -54px;
        right: -180px;
    }

    .package__card {
        padding: 0;
    }

    .package__first-card-pic {
        max-width: 190px;
        height: 206px;
        margin-top: 50px;
        margin-bottom: 71px;
    }

    .package__second-card-pic {
        position: absolute;
        top: 850px;
        max-width: 220px;
        height: 137px;
    }

    .hero__main-pic-3,
    .hero__main-pic-4,
    .hero__main-pic-5,
    .hero__main-pic-6,
    .hero__main-pic-8,
    .line-hero-bottom,
    .description__bottom-abs-pic-3,
    .map__line-1-pic,
    .map__line-2-pic,
    .join__abs-pic-3,
    .footer__abs-pic,
    .faq__abs-pic-4,
    .faq__abs-pic-5,
    .faq__abs-pic-6,
    .package__abs-pic {
        display: none;
    }

    .hero__main-pic-9 {
        width: 450px;
        right: -160px;
    }

    .guide__abs-pic-1 {
        position: absolute;
        top: -520px;
        right: 60px;
    }

    .description__desc-top,
    .description-bottom {
        max-width: 340px;
        line-height: 35px;
    }

    .guide__inner-bottom {
        margin-right: 5px;
    }
    .description__desc-top,
    .description__desc-bottom {
        max-width: 340px;
        line-height: 35px;
    }

    .guide__abs-pic-2 {
        display: none;
    }

    .map__bottom-abs-pic-1 {
        position: absolute;
        top: 210px;
        left: 105px;
        z-index: 2;
        width: 270px;
    }

    .description__bottom-pic {
        max-width: 313px;
        height: 530px;
        position: absolute;
        top: 0px;
        left: 20px;
        z-index: -1;
    }
    .map__top-abs-pic-3 {
        display: none;
    }

    .map__top-abs-pic-2 {
        position: absolute;
        top: 310px;
        left: 89px;
        z-index: -1;
        transform: rotate(90deg);
        max-width: 120px;
        height: 347px;
    }

    .description__bottom-abs-pic-1 {
        animation: none;
    }
    .description__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    .description__top-pic {
        max-width: 438px;
        height: 274px;
        position: absolute;
        top: 120px;
        right: 0px;
        z-index: 3;
    }

    .nav {
        &__list {
            &-item {
                font-size: 13px;
                margin-right: 20px;
                &:nth-child(4) {
                    margin-right: 25px;
                }
            }
        }
    }

    .unique__card-desc {
        margin-bottom: 32px;
        font-size: 14px;
    }

    .nav__item-link {
        margin-top: 12px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    .hero__main-pic-1 {
        display: none;
    }
    .guide__abs-pic-1 {
        display: none;
    }
    .description__blockquote {
        font-size: 15px;
        line-height: 40px;
        max-width: 844px;
    }
    .description__blockquote-container {
        margin-bottom: 60px;
    }

    .description {
        margin-bottom: 60px;
    }

    .package__title-inner {
        margin-top: 15px;
    }

    .package__card {
        margin-bottom: 30px;
    }

    .package {
        margin-bottom: 30px;
    }

    .join {
        margin-bottom: 80px;
    }

    .slider__comment {
        font-size: 16px;
    }

    .feedback__arrow-right {
        margin-right: 30px;
    }

    .feedback__subtitle {
        max-width: 300px;
    }

    .map__top {
        margin-bottom: 71px;
        display: flex;
        justify-content: space-between;
    }

    .slider__name {
        font-size: 16px;
    }

    .map__bottom-pic,
    .map__bottom-abs-pic-1,
    .map__bottom-abs-pic-2,
    .map__bottom-abs-pic-3,
    .map__bottom-abs-pic-4 {
        display: none;
    }

    .join__button {
        padding: 12px 29px 13px 30px;
        cursor: pointer;
        transition: 0.5s background-position ease-in-out;
    }

    .package__price {
        margin-top: 20px;
    }

    .package__second-card-pic {
        display: none;
    }

    .description__author {
        font-style: italic;
        font-size: 16px;
        line-height: 40px;
        font-weight: 100;
        text-align: right;
        display: block;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .description__bottom-pic {
        max-width: 313px;
        height: 530px;
        position: absolute;
        top: 640px;
        left: 40px;
        z-index: -1;
    }

    .guide__abs-pic-4 {
        display: none;
    }

    .slider__abs-pic {
        display: none;
    }

    .description__top-pic {
        max-width: 438px;
        height: 274px;
        position: absolute;
        top: 370px;
        right: 0px;
        z-index: 3;
    }

    .description__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 285px;
    }

    .description__bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 506px;
    }

    .guide__abs-pic-1 {
        display: none;
    }
    .guide__pic {
        display: none;
    }

    .guide__button {
        padding: 12px 37px 13px 38px;
    }

    .hero__button {
        padding: 10px 29px 10px 29px;
        text-align: center;
        font-size: 20px;
        line-height: 25px;
        transition: 0.5s background-position ease-in-out;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }

    .hero__main-pic-9 {
        width: 310px;
        right: -160px;
        top: -60px;
        left: 80px;
    }

    .map__top-pic,
    .map__top-abs-pic-1,
    .map__top-abs-pic-2,
    .map__top-abs-pic-3,
    .description__top-abs-pic-1,
    .description__top-abs-pic-2,
    .description__bottom-abs-pic-1,
    .description__bottom-abs-pic-2,
    .description__bottom-abs-pic-3,
    .description__bottom-abs-pic-4 {
        display: none;
    }

    .guide__desc {
        margin-bottom: 50px;
        font-size: 17px;
    }

    .join__abs-pic-1,
    .join__abs-pic-2 {
        display: none;
    }

    .unique__card {
        grid-column: span 3;
        margin-bottom: 20px;
    }

    .package__cards {
        flex-direction: column;
    }

    .header__logo {
        transform: scale(0.8);
    }

    img {
        overflow-x: hidden;
    }

    .burger-menu {
        display: block;
    }

    .nav {
        position: fixed;
        z-index: 999;
        height: 100vh;
        width: 100vw;
        background-color: #02042d;
        top: 0;
        left: 0;
        transform: translateX(100%);
        transition: 0.2s all linear;
        &__button {
            margin-top: 30px;
            display: block;
            margin-left: 50px;
            margin-right: auto;
        }
        &__list {
            margin-top: 100px;
            flex-direction: column;
            align-items: center;
            &-item {
                font-weight: 700;
                margin-bottom: 30px;
                margin-left: 100px;
                font-size: 30px;
                width: 100%;
                margin-right: 0;
                &:nth-child(4) {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }

        &__close {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 55px;
            right: 38px;
            &-item {
                width: 100%;
                height: 2px;
                background-color: #444362;
                display: block;
                top: 0;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .accordion__item-title {
        font-size: 15px;
    }

    .accordion__item-content--show {
        font-size: 15px;
        line-height: 1.5;
    }

    .accordion__item-content {
        margin: 0px 51px 33px 34px;
    }

    .footer__copyright {
        font-size: 13px;
    }
    .footer__logo {
        transform: scale(0.8);
    }
    .map__top-list-item {
        font-size: 15px;
    }

    .map__bottom-list-item {
        font-size: 15px;
    }

    .package__title-inner {
        font-size: 30px;
    }

    .package__button {
        padding: 12px 34px 13px 35px;
    }
    .package__list-item {
        line-height: 20px;
    }
}

.nav--active {
    transform: translateX(0%);
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
    .unique .unique__pic-2 {
        top: 40px;
        left: 10px;
        filter: blur(20px);
        max-width: 256px;
        height: 250px;
        animation: circleblue-2 8s linear infinite;
    }

    .hero__main-pic-9 {
        width: 190px;
        top: -60px;
        left: 30px;
    }

    .nav__list-item {
        font-size: 20px;
    }
    .nav__list-item {
        margin-bottom: 5px;
        margin-left: 150px;
    }

    .description__top-pic {
        height: 174px;
        top: 330px;
    }

    .description__desc-top,
    .description__desc-bottom {
        font-size: 15px;
        margin-bottom: 10px;
    }

    .description__top {
        margin-bottom: 200px;
    }

    .description__bottom-pic {
        max-width: 313px;
        height: 280px;
        top: 600px;
        left: 20px;
        z-index: -1;
    }

    .description__bottom {
        margin-bottom: 286px;
    }
    .description__blockquote {
        font-size: 13px;
        line-height: 20px;
    }

    .description__author {
        font-size: 14px;
        line-height: 20px;
        padding-top: 10px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .description {
        margin-bottom: 50px;
    }

    .header__logo,
    .footer__logo {
        width: 106px;
        height: 35px;
    }

    .hero__title {
        font-size: 32px;
    }

    .hero__subtitle,
    .hero__desc {
        font-size: 18px;
    }
    .unique__card-title {
        margin-top: 170px;
        margin-bottom: 15px;
    }

    .unique__card-desc {
        font-size: 13px;
    }
    .footer__social-link:not(:last-of-type) {
        margin-right: 8px;
    }
    .footer__social {
        align-self: center;
    }

    .footer__copyright {
        margin-bottom: 10px;
    }

    .join__subtitle {
        font-size: 15px;
    }

    .join__subtitle {
        margin-bottom: 20px;
    }
    .join__title {
        margin-bottom: 10px;
    }
    .faq__title {
        margin: 0;
    }

    .map {
        margin-bottom: 100px;
    }
    .unique {
        margin-bottom: 65px;
    }
    .guide__button-add {
        font-size: 13px;
        line-height: 17px;
        padding-left: 4px;
    }
    .guide__desc {
        margin-bottom: 20px;
    }
    .guide {
        margin-bottom: 60px;
    }

    .map__top-subtitle::before {
        left: 110px;
        transform: scale(.6);
    }

    .map .number-2::before,
    .map .number-3::before,
    .map .number-4::before,
    .map .number-5::before {
        left: 110px;
        transform: scale(.6);
    }

    .map__bottom-subtitle {
        font-size: 18px;
    }

    .map__bottom-note {
        font-size: 14px;
        line-height: 20px;
    }

    .map__top-subtitle {
        font-size: 18px;
    }
    .map__subtitle-note {
        font-size: 14px;
    }

    .package__first-card-pic {
        max-width: 190px;
        height: 146px;
        margin-top: 10px;
        margin-bottom: 1px;
    }
    .feedback__subtitle {
        margin-bottom: 10px;
    }
    .slider__pic {
        max-width: 60px;
        margin-bottom: 0px;
    }
    .slider__position {
        font-size: 13px;
        line-height: 15px;
    }
    .slider__name {
        line-height: 20px;
    }

    .slider__comment {
        p {
            font-size: 14px;
            line-height: 20px;
            padding-left: 10px;
        }
    }

    .feedback {
        margin-bottom: 20px;
    }

    .accordion__item-title {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .footer__logo-link {
        display: flex;
        align-items: left;
    }

    .nav__list {
        margin-top: 130px;
    }

    .nav__button {
        margin-left: 70px;
    }

    .popup {
        transform: scale(.6);
    }

    .feedback__subtitle {
        font-size: 13px;
    }

    .feedback__wrapper-main {
        flex-wrap: wrap;
    }

    .feedback__arrow-left {
        margin-left: 80px;
        margin-right: 0;
    }

    .feedback__wrapper-bottom {
        padding-top: 0px;
    }
}
