html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #02042d;
    color: #fff;
    font-family: "Gilroy", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    position: top center;
    overflow-x: hidden;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-package {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-accordion {
    max-width: 835px;
    margin: 0 auto;
}


h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}

h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}
button {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    background: linear-gradient(to right, #99568C, #4b19f0,#99568C);
    background-size: 200%;
    background-position: left;
    border-radius: 33px;
    color: #fff;
    border: none;
    outline: none;
}

.ellipse {
    filter: blur(100px);

}

a {
    text-decoration: none;
}