@font-face {
    font-family: "Gilroy" ;
    src: url("../assets/fonts/Gilroy-Regular.ttf") format("truetype") ;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: url("../assets/fonts/Gilroy-Bold.ttf") format("truetype") ;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: url("../assets/fonts/Gilroy-Extrabold.ttf") format("truetype") ;
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: url("../assets/fonts/Gilroy-RegularItalic.ttf") format("truetype") ;
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}